div{
  margin-left:0;
}
table{
  width:auto;
  border-width: 1px;
  border-color: #46abe7;
  margin-left: 80px;
  margin-top: 80px;
  padding: 0;
  float: left;
  clear: left;

}

tr, td {
  width:50px;
  border-width:1px;
  border-color: white;
  height: 50px;
  background-color: #46abe7;
}

#addrow{
  width:50px;
  height:50px;
  background-color: #f3a600;
  color: white;
  margin-left: 80px;
  float: left;
  clear: left;

}
#addcol{
  width:50px;
  height:50px;
  background-color: #f3a600;
  color: white;
  margin-top: 80px;

}
#delrow{
  width:50px;
  height:50px;
  background-color: #b40000;
  color: white;
  position: absolute;
  top:90px;
  left:37px;

}

#delcol{
  width: 50px;
  height: 50px;
  background-color: #b40000;
  color: white;
  position: absolute;
  top:37px;
  left:90px;
}
button:hover{
  cursor: pointer;
  opacity: 0.3;
}
